html, body {
  /* Background Image */
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  font-family: "Source Code Pro";
  color: white;
  text-align: center;
  display: inline;
}

.title {
  margin-bottom: 0px;
}

.cover a {
  text-decoration: none;
  color: white;
}

.cover a:hover {
  color: rgb(212, 212, 212);
}

.signup {
  border: 1px solid white;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
