html, body {
  /* Background Image */
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  display: inline;
  text-decoration: none;
}

.title {
  margin-bottom: 0px;
  font-size: 40px;
}

.menu-wrapper {
  padding: 10px;
}

.menu {
  margin-bottom: 20px;
  font-size: 15px
}

.menu a {
  color: white;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}

.menu a:hover {
  color: rgb(212, 212, 212);
}

.signup-wrapper {
  padding: 5px;
}

.signup {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

.signup:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
