html, body, .container {
  height: 100%;
}

body {
  /* Background Image */
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.title {
  margin-bottom: 0px;
  font-size: 40px;
  color: white;
}

.menu-wrapper {
  padding-top: 0px;
  padding-bottom: 0;
}

.menu {
  margin-bottom: 20px;
  font-size: 15px
}

.menu a {
  color: white;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}

.menu a:hover {
  color: rgb(212, 212, 212);
}

.signup {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

.signup:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.img-circle {
  height: 200px;
  width: 200px;
}

.menubar {
  margin: 10px;
}

.menubar a {
  margin: 20px;
  color: white;
  font-size: 2em;
}

.menubar a:hover {
  text-decoration: none;
  color: gray;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
